<div class="post" id="<%= dom_id post %>">
  <% if post.repost.present? %>
    <div class="block text-sm text-gray-500 font-medium px-4 mt-4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 inline mr-1">
        <path fill-rule="evenodd" d="M12 5.25c1.213 0 2.415.046 3.605.135a3.256 3.256 0 013.01 3.01c.044.583.077 1.17.1 1.759L17.03 8.47a.75.75 0 10-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 00-1.06-1.06l-1.752 1.751c-.023-.65-.06-1.296-.108-1.939a4.756 4.756 0 00-4.392-4.392 49.422 49.422 0 00-7.436 0A4.756 4.756 0 003.89 8.282c-.017.224-.033.447-.046.672a.75.75 0 101.497.092c.013-.217.028-.434.044-.651a3.256 3.256 0 013.01-3.01c1.19-.09 2.392-.135 3.605-.135zm-6.97 6.22a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.752-1.751c.023.65.06 1.296.108 1.939a4.756 4.756 0 004.392 4.392 49.413 49.413 0 007.436 0 4.756 4.756 0 004.392-4.392c.017-.223.032-.447.046-.672a.75.75 0 00-1.497-.092c-.013.217-.028.434-.044.651a3.256 3.256 0 01-3.01 3.01 47.953 47.953 0 01-7.21 0 3.256 3.256 0 01-3.01-3.01 47.759 47.759 0 01-.1-1.759L6.97 15.53a.75.75 0 001.06-1.06l-3-3z" clip-rule="evenodd" />
      </svg>
      <%= post.user.username %> Reposted
    </div>
  <% end %>
    <div class="w-full h-full p-4">
      <div class="flex gap-4">
        <img class="w-12 h-12 rounded-full" src="https://api.dicebear.com/5.x/adventurer-neutral/svg?seed=<%= (post.repost || post).user.id %>" />
        <div class="w-full">
          <div class="flex gap-1 items-center">
            <p class="font-bold"><%= (post.repost || post).user.username %></p>
            <p class="font-light text-sm"><%= time_ago_in_words (post.repost || post).created_at %> ago</p>
          </div>

          <% if post.parent.present? %>
            <span class="block text-sm text-gray-500 font-light mb-4">Replying to @<%= (post.repost || post).parent.user.username %></span>
          <% end %>

          <p class="font-light"><%= (post.repost || post).text %></p>

          <% if (post.repost || post).parent.present? && !local_assigns[:hide_children] %>
            <div class="border-gray-700 border rounded-md my-2 mt-4 w-full bg-gray-800">
              <%= render (post.repost || post).parent, hide_controls: true, hide_children: true %>
            </div>
          <% end  %>

          <% unless local_assigns[:hide_controls] %>
            <div class="mt-4 flex w-full gap-8">
              <%= button_to post_path(post), method: :get do %>
              <div class="flex items-center gap-2 hover:text-blue-500 group">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 group-hover:bg-opacity-25 group-hover:bg-blue-400 rounded-lg p-1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                </svg>
                <%= post.comments.count %>
              </div>
              <% end %>

              <%= button_to repost_path(id: post.id), class: 'ml-8' do %>
                <div class="flex items-center gap-2 hover:text-green-500 group <%= current_user.reposted?(post) ? 'text-green-500' : '' %>">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 group-hover:bg-opacity-25 group-hover:bg-green-400 rounded-lg p-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
                  </svg>
                  <%= post.reposts.count %>
                </div>
              <% end %>

              <%= button_to like_post_path(id: post.id), method: :post, class: 'ml-8' do %>
                <div class="flex items-center gap-2 hover:text-red-500 group <%= current_user.liked?(post) ? 'text-red-500' : '' %>">
                  <% if current_user.liked?(post) %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 group-hover:bg-opacity-25 group-hover:bg-red-400 rounded-lg p-1 text-red-500">
                      <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                    </svg>
                <% else %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 group-hover:bg-opacity-25 group-hover:bg-red-400 rounded-lg p-1">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                    </svg>
                <% end %>
                  <%= post.likes.liked.count %>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
</div>
