<div class="post" id="<%= dom_id post %>">
    <div class="w-full h-full p-4">
      <%= link_to post_path(post) do %>
      <div class="flex gap-4">
        <img class="w-12 h-12 rounded-full" src="https://api.dicebear.com/5.x/adventurer-neutral/svg?seed=<%= post.user.id %>" />
        <div>
          <div class="flex gap-2 items-center">
            <p class="font-bold"><%= post.user.username %></p>
            <p class="font-light text-sm"><%= time_ago_in_words post.created_at %> ago</p>
          </div>
          <% if post.parent.present? %>
            <span class="block text-sm text-gray-500 font-light mb-4">Replying to @<%= post.parent.user.username %></span>
          <% end %>
          <p class="font-light"><%= post.text %></p>

          <% if post.parent.present? && !local_assigns[:hide_children] %>
            <div class="border-gray-700 border rounded my-2">
              <%= render post.parent, hide_controls: true, hide_children: true %>
            </div>
          <% end  %>

          <% unless local_assigns[:hide_controls] %>
            <div class="mt-4">
              <%= link_to "" do %>
              <div class="flex items-center gap-2 hover:text-blue-500 group w-fit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 group-hover:bg-opacity-25 group-hover:bg-blue-400 rounded-full p-1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                </svg>
                <%= post.comments.count %>
              </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
      <% end %>
    </div>
</div>
